* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
}
.userProfile_header {
  background-color: rgb(217, 212, 212);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  padding-top: 5px;
  margin-left: 10px;
}
.userProfile_header img {
  width: 30px;
}
